.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group text
      %ul.main-header__left-box__member-list
        member:  
        %li.main-header__left-box__member-list__member
          masa
    =link_to "#", class: "main-header__edit-btn" do
      .main-header__edit-btn Edit
  .messages
  .form